---
import "../styles/global.css";
import Navbar from "../components/Navbar.tsx";
import Footer from "../components/Footer.tsx";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Perú Traditional Travel</title>
	</head>
	<body>
		<Navbar client:only />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
